.smallOnly{
    display: none;
}
.EJ-ProductThumbnailContainer{
    width: 100%;
    display: block;
    margin: 10px 0px;
    text-align: center;
}
.EJ-ProductThumbnailContainer img {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    width: 62.5px;
    height: 50px;
    margin-right: 10px;
}
.EJ-ProductDetailUrl, .EJ-ProductDemoUrl{
    background: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 3px;
    font-size: 14px;
}
.EJ-ProductDemoUrl{
    background: #2196F3;
    margin-left: 5px;
}
.EJ-ProductDetailUrl:hover, .EJ-ProductDemoUrl:hover{
        color: #fff;
}
.EJ-ShopLink{
    padding: 1px 0px;
    font-weight: normal;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    color: #7a7a7a;
    float: right;
    border-bottom: 1px solid transparent;
}
img.EJ-Shop-Banner {
    max-width: 100%;
    min-width: unset;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
div.EJ-Shop-Banner{
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@media(min-width: 800px){
	img.EJ-Shop-Banner {
	    max-width: 100%;
    		min-width: 800px;
		margin-top: 0px;
	}
}
