@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v14/ijwOs5juQtsyLLR5jN4cxBEoRDf40uYVLg.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v14/ijwTs5juQtsyLLR5jN4cxBEoTJzawg.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v14/ijwOs5juQtsyLLR5jN4cxBEoRG_50uYVLg.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v14/ijwOs5juQtsyLLR5jN4cxBEoREP-0uYVLg.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v14/ijwOs5juQtsyLLR5jN4cxBEoRCf_0uYVLg.ttf) format('truetype');
}
